:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

nav {
  height: 6.5%;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
  height: 13.5%;
  background-color: whitesmoke;
  width: 100%;
}

#icons-bar {
  display: flex;
  flex-direction: row;
  height: 75%;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#path-grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin: 0;
  height: 80%;
}

.grid-item {
  border: 1px solid #e1f5fe;
  text-align: center;
  height: 100%;
}

.medium-small-icon {
  font-size: 45px;
}

.icon-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.icon-item i {
  color: #303f9f;
}

.img-icon {
  height: 30px;
  width: 30px;
  margin-right: 0.75rem;
}
